.h1 {
    font-size: 28px;
    font-weight: bold;
    margin: 8px 0px;
}

.h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 6px 0px;
}

.h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 4px 0px;
}

.a {
    color: #0000ff;
    border-bottom: 1px solid #0000ff;
}
